.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  overflow: visible;
  background-color: white;
}

.toggle-switch__checkbox {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50%;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.2s ease;
  z-index: 2;
}


.toggle-switch__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 700;
  z-index: 3;
}

.toggle-switch__text_F {
  color: white;
  left: 9px;
}

.toggle-switch__text_C {
  color: grey;
  right: 9px;
}


.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 26px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: grey;
}

.toggle-switch:hover {
  border-color: black;
}