.weather__card {
  background-color: #00a3ff;
  border-radius: 12px;
  padding: 20px 16px;
}

.weather__card_temp {
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.weater__card_cloud {
  position: absolute;
  top: 132px;
  right: 40px;
  z-index: 1;
}
.weather__card_sun {
  position: absolute;
  top: 120px;
  right: 40px;
  z-index: 0;
}

.weather__card_info {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding-top: 40px;
}
